div {
  background-color: azure;
  font-style: normal;
}

h2 {
  border-bottom: 2px solid blue;
}

h3 {
  border-bottom: 2px solid blue;
  font-size: 1.1em;
}
p {
  font-size: 14;
}

address {
  font-style: normal;
}
